<h1>Meet <% @contacts.first_name %></h1>
  <h3>First Name: <%= @contacts.first_name%></h3>
  <h3>Middle Name: <%= @contacts.middlename%></h3>
  <h3>Last Name: <%= @contacts.last_name%></h3>
  <h3>Email: <%= @contacts.email%></h3>
  <h3>Phone Number: <%= @contacts.phone_number%></h3>
  <h3>Biography: <%= @contacts.bio%></h3>
  <h3>Latitude: <%= @contacts.latitude%></h3>
  <h3>Longitude: <%= @contacts.longitude%></h3>

<a href="/contacts">Return to Main Contacts</a>